<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="pws-eboutique-view">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="pws-fidelio-biz-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-fidelio-biz/pws-fidelio-biz">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-fidelio-api-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-fidelio-api/pws-fidelio-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-dataAccess-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-dataAccess/pws-dataAccess">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-payment-biz-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-payment-biz/pws-payment-biz">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-base-framework-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-base-framework/pws-base-framework">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-payment-api-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-payment-api/pws-payment-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-model-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-model/pws-model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-socle-security-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-socle-security/pws-socle-security">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-config-reload-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-config-reload/pws-config-reload">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pws-juddi-0.0.2.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/pws-juddi/pws-juddi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/pws-eboutique-view/target/classes"/>
        <property name="context-root" value="eboutiqueWs"/>
    </wb-module>
</project-modules>
